/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  font-family: 'Roboto', sans-serif;
  color: #3D3D3D;
}

.nav-bar {
  background-color: #0fb9b1;
  padding: 1rem;
  width: 100%;
}

.nav-title {
  margin: 0;
}

.content {
  background-image: url("assets/burger-friends.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 2rem;
}

.white-box {
  background-color: rgba(225, 225, 225, .9);
  padding: 3rem;
  width: 24rem;
  height: 16rem;
  display: inline-grid;
}

.recipe {
  margin: auto;
}

.cookpot {
  height: 12rem;
  margin: auto;
}

.option-input {
  padding: .50rem 0;
}

.button {
  background-color: #0fb9b1;
  border: none;
  border-radius: 0.25rem;
  width: 10rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
